<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/">Cadastro<span class="sr-only">(Página atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/client">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/busc_client">Busca</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/busca_client/" method="post">
      <input class="form-control mr-sm-2" name="cpf" type="search" placeholder="Pesquisar por CPF" aria-label="Pesquisar por CPF">
      <button class="btn btn-secondary" class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>

<h1 style="text-align: center;">Cadastro de Clientes</h1>
    <hr>
    <form style="display: flex; flex-direction: column; justify-content: center; align-items: center;" action="client/insertclient" method="POST" style="text-align: center;">
        <div class="form-inline my-2 my-lg-0" class="form-control">
            <input type="hidden" name="id" id="id">
            <label for="nome">Nome:</label>
            <input class="form-control mr-sm-2" type="text" name="nome" required="yes" placeholder="Nome do cliente">
        </div><br>

        <div class="form-inline my-2 my-lg-0" class="form-control">
            <label for="cpf">CPF:</label>
            <input class="form-control mr-sm-2" type="text" name="cpf" required="yes" maxlength="11" placeholder="CPF do cliente">
        </div><br>

         <div class="form-inline my-2 my-lg-0" class="form-control">
            <label for="telefone">Telefone:</label>
            <input class="form-control mr-sm-2" type="text" name="telefone" required="yes" maxlength="12" placeholder="Telefone para contato">
        </div><br>
    
        <input class="btn btn-dark" type="submit" value="Cadastrar">
    </form>