<head>
    <title>Minha página</title>
  </head>
  <body>
    <div id="carro-page">
      <a href="/carros">Voltar</a>
      <div class="container">
        <h1>{{carro.modelo}}</h1>
        <p>Este carro tem {{carro.km}} Kilometros.</p>
        <div class="actions">
          <a href="/carros/edit/{{carro.id}}" class="edit">Editar</a>
          <form action="/carros/remove/{{carro.id}}" method="POST">
            <input type="submit" value="Remover">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>


<style>
  body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
  }

  #carro-page {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  #carro-page a {
    color: #333;
    text-decoration: none;
  }

  .container {
    margin-top: 30px;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }

  .edit,
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .edit:hover,
  input[type="submit"]:hover {
    background-color: #555;
  }
</style>