<h1>Editar informações da unidade</h1>
    <hr>
    <form action="/unid/updateunid" method="POST">
        <div class="form-control">
            <input type="hidden" name="id" id="id" value="{{unid.id}}">
            <label for="nome">Agencia</label>
            <input type="text" name="nome" placeholder="Digite o nome da agencia" value="{{unid.nome}}">
        </div>

        <div class="form-control">
            <label for="quant">Cidade</label>
            <input type="name" name="cidade" placeholder="Digite a cidade agencia" value="{{unid.cidade}}">
        </div>


         <div class="form-control">
            <label for="quant">Capacidade</label>
            <input type="number" name="qtd" placeholder="Digite a capacidade na agencia" value="{{unid.qtd}}">
        </div>
    
        <input type="submit" value="Editar">
    </form>
