<section>
  <h1>Edite o seu carro:</h1>
  <form class="form" action="/carros/editcarro" method="POST">
    <div class="form-control">
      <label for="km">KMs:</label>
      <input type="text" name="km" placeholder="Quantos quilômetros o carro tem?" value="{{carro.km}}">
    </div>
    <input type="hidden" name="id" value="{{carro.id}}">
    <input type="submit" value="Editar">
  </form>
</section>
