<div>
    <ul>
        <li><a href="/cadastro_agnc">agencias</a></li>
        <li><a href="/cadastro_client">clientes</a></li>
        <li><a href="/cadastro_func">funcionarios</a></li>
        <li><a href="/cadastro_car">carros</a></li>

    </ul>
</div>