
<h1>Busca por cidade<h1>
    <hr>
    <form action="/busc/" method="post">
        
            <input type="text" name="cidade" id="id" placeholder="Cidade">
              
        <input type="submit" value="Buscar">
    </form>
